.main-head {
  width: 100%;
  margin: 0 0 0 auto;
  color: white;

  top: 0;
  z-index: 3;
}

a:hover {
  text-decoration: none;
  color: black;
}
nav {
  min-height: 10vh;
  padding-left: 5%;
  @include flex(space-between, center, row);

  width: 100%;
  flex-wrap: wrap;
  padding-right: 40%;
  z-index: 10;

  ul {
    @include flex(space-between, center, row);
    flex: 10 1 40rem;
    text-decoration: none;
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  h2 {
    font-size: 8rem;
    padding-top: 2rem;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }
  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
  }
  p {
    padding-top: 2rem;
    color: $gray-text;
  }
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
  .mywork {
    padding: 1.5rem;
    border: none;
    box-shadow: 2px 3px gray;
    background: linear-gradient(top, #39a9cf, #3abcbb);
    color: white;
    border-radius: 1rem;
  }
  .mywork:hover {
    background: rgb(56, 107, 77);
  }
}

.active {
  background: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}
.fixed-header {
  background-color: rgba(00, 00, 00, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}
#plant-right {
  animation: plant 1.5s ease infinite alternate 0.5s;
}

#me {
  animation: me 1.5s ease infinite alternate;
  transform-origin: bottom;
}

#clock-arrow {
  animation: clock 2s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
